PORT=3001

DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_DATABASE=
DB_SYNC=

MAIL_HOST=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM_NAME=
MAIL_FROM_ADDRESS=

REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=
QUEUE_KEY_PREFIX=