PORT=3001

JWT_SECRET="sibaq-rms"
TTL="1 hour"
REFRESH_TTL="14 days"

DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_DATABASE=
DB_SYNC=

MAIL_HOST=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM_NAME=
MAIL_FROM_ADDRESS=

REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=
QUEUE_KEY_PREFIX=

AWS_PUBLIC_BUCKET_NAME= 
AWS_S3_BUCKET=
AWS_S3_ACCESS_KEY=  
AWS_S3_KEY_SECRET=
AWS_S3_REGION=

